# API URL (Leave blank to use robust client-side mock provider, or point to real backend)
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_APP_NAME="DigiVault Marketplace"
NEXT_PUBLIC_DEFAULT_CURRENCY="BDT"
NEXT_PUBLIC_CURRENCY_SYMBOL="৳"
NEXT_PUBLIC_WHATSAPP_NUMBER="+8801700000000"
